@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
	margin: 0;
	padding: 0;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 700

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.fundo{
	background-image: linear-gradient(to right, #0000A2, #00A8FF, #0000A2);
	transition: 0.6s;
}
.cabecario{
	border: 2px solid #ceecef;
	background-color: #030d4f;
	overflow: hidden;
	transition: 0.6s;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}

.logo{
	width: 150px;
	height: 150px;
}
.titulo{
	margin-top: 40px;
	font-size: 50px;
	color: #ceecef;
	overflow: hidden;
	transition: 0.6s;
	font-family: "Oswald";
}
.container{
	border: 2px solid #ceecef;
	background: #030d4f;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border-radius: 20px 0px 20px 0px;
	display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 10px; 
  padding: 10px;
  height: 110%;
  overflow: hidden;
	transition: 0.6s;
}
.volta{
	border: 2px solid #ceecef;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	height: 50px;
	justify-content: center;
	background: #030d4f;
	margin-top: 10px;
	overflow: hidden;
	transition: 0.6s;
	font-family: "Oswald";
}
.volta:hover{
	background: #ceecef;
	border: 2px solid #030d4f;
}
.volta:hover .link-volta{
	color:#030d4f;
}
.link-volta{
	font-size: 40px;
	text-align: center;
	color:#ceecef;
	text-decoration: none;
}
.link-jogos{
	color: black;
	text-decoration: none;
}
.canvas-jogo{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
  border: 2px solid black;
}
.div-jogo{
	margin-left: 40px;
	margin-top: 10px;
	text-align: center;
	margin-bottom: 10px;
	width: 170px;
	height: 170px;
	border-radius: 20px;
}
.image{
	width: 150px;
	height: 150px;
	overflow: hidden;
	transition: 0.3s;
	border-radius: 200px;
	opacity: 0.5;
}
.image:hover{
	border-radius: 20px;
	opacity: 1;
	scale: 1.2;
	margin-bottom: 22px;
	box-shadow: 7px 7px 7px 0px #00AEFF;
}

.nome-jogo{
	margin-top: -2px;
  color: #ceecef;
  font-family: "Oswald";
  overflow: hidden;
	transition: 0.6s;
}
#resetButton{
	width: 100px;
	height: 30px;
	background-color: #ceecef;
	color: #030d4f;
	font-family: "Oswald";
}

.heading {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

.cards {
	margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
}

.card {
  height: 110px;
  width: 100px;
  background-color: #ceecef;
  border-radius: 10px;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: 0.3s all ease;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 80%;
  max-height: 90px;
  opacity: 0;
  transition: 0.3s all ease;
}

.card.clicked {
  background-color: orange;
}

.card.checked {
  background-color: lightgreen;
}

.card.clicked img,
.card.checked img {
  opacity: 1;
}

.card.shake {
  background-color: #f15f5f;
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 200px;
  margin-right: auto;
}

.game button {
  width: 100px;
  height: 100px;
  margin: 5px;
  cursor: pointer;
  font-size: 50px;
  background: #ceecef;
  font-family: "Oswald";
}
.currentPlayer{
	font-family: "Oswald";
}
.quiz {
    display: grid;
    grid-template-columns: 1fr auto 1fr auto 1fr;
    grid-template-rows: auto;
    gap: 10px;
    justify-items: center;
    align-items: center;
}

#intext1, #intext2, .intext11 {
    width: 80px;
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    font-family: "Oswald";
}

.color {
    font-size: 2em;
    color: #333;
}

.resposta input {
    width: 120px;
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-family: "Oswald";
}
#igual{
	font-size: 2em;
	font-family: "Oswald";
}
#botaoresposta{
	width: 200px;
	height: 40px;
	font-size: 20px;
	text-align: center;
	margin-left: 40px;
	background-color:#ceecef;
	color:#030d4f;
	font-family: "Oswald";
}
#respostas{
	font-size: 40px;
	font-family: "Oswald";
}
#botaoreinicia{
	width: 200px;
	height: 40px;
	font-size: 20px;
	text-align: center;
	margin-left: 40px;
	background-color:#ceecef;
	color:#030d4f;
	font-family: "Oswald";
}
.mostra{
	color:#ceecef;
	font-family: "Oswald";
}
#Space{
	background-color: #000000;
}
.subtitulo{
	color:#ceecef;
	font-family: "Oswald";
}
.color{
	color:#ceecef;
}
.currentPlayer{
	color:#ceecef;
}
.game-container {
  width: 100%;
  max-width: 480px;
  display: grid;
  grid-template-columns: 1fr;
}

.game-container > .players-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.game-container > .players-container > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.game-container > .players-container > .player {
  transform: rotatey(180deg);
}

.game-container > .players-container .option {
  width: 100%;
  max-width: 150px;
  opacity: 0.5;
  transition: 0.5s;
}

.game-container > .players-container > .player > .option {
  cursor: pointer;
}

.game-container > .players-container > .player > .option:hover {
  opacity: 1;
}

.game-container > .players-container .option > img {
  width: 100%;
  object-fit: contain;
}

.game-container > .result-container {
  padding: 16px;
  text-align: center;
  font-size: 22px;
  color: rgba(60, 60, 60, 1);
}
#reiniciarBtn{
	width: 100px;
	height: 30px;
	background-color: #ceecef;
	color: #030d4f;
	font-family: "Oswald";
}

#game-dino{
	border: 2px solid #ceecef;
}

.rodape{
	text-align: center;
	margin-top: 25px;
}

.nome{
	font-family: "Oswald";
	font-size: 50px;
	margin-bottom: 5px;
	color: #ceecef;
}

.muda-cor{
	margin-top: auto;
	height: 50px;
	width: 70px;
	margin-bottom: auto;
	margin-right: auto;
	margin-left: 650px;
}
.fundo2{
	background-image: linear-gradient(to right, #00A8FF, #0000A2, #00A8FF);
	transition: 0.6s;
}

.cabecario2{
	border: 2px solid #030d4f;
	background-color: #ceecef;
	overflow: hidden;
	transition: 2.1s;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}

.titulo2{
	margin-top: 40px;
	font-size: 50px;
	color: #030d4f;
	overflow: hidden;
	transition: 2.1s;
	font-family: "Oswald";
}

.container2{
	border: 2px solid #030d4f;
	background: #ceecef;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border-radius: 20px 0px 20px 0px;
	display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 10px; 
  padding: 10px;
  height: 110%;
  overflow: hidden;
	transition: 2.1s;
}

.nome-jogo2{
	margin-top: -2px;
  color: #030d4f;
  font-family: "Oswald";
  overflow: hidden;
	transition: 2.1s;
}

.nome2{
	font-family: "Oswald";
	font-size: 50px;
	margin-bottom: 5px;
	color: #030d4f;
}